@font-face {
  font-family: 'KyoboHandwriting2020A';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/KyoboHandwriting2020A.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100vh;
  background: #B5C2CC;
  font-family: 'KyoboHandwriting2020A';
}
#top_title{
  color: white;
  font-size: 2.5rem;
  text-align: center;
  margin-top: 3%;
}
#top_title:hover{
  cursor: pointer;
}
.container{
  width: 80%;
  margin: 0 auto;
  margin-top: 2%;
}
.container .field{
  margin: 3% 0;
}
.container b{
  display: block; /*수직 정렬*/
  margin-bottom: 10px;
  font-size: 1.5rem;
}
.container input:not(input[type=radio]), .container select{
  border: 2px solid black;
  padding: 10px;
  width: 50%;
  margin-bottom: 5px;
}
.container input[type=button],
.container input[type=submit]{
background-color: white;
color:lightcoral
}
.container select:focus{
  border: 5px solid lightcoral;
}
.field_BD{
  margin: 3% 0;
}
.field_BD div{
  display: flex;
  gap: 10px;  /* 간격 벌릴때*/
}
.field_GD{
  margin: 3% 0;
}
.field_GD div{
  width: 50%;
  border: 2px solid black;
  padding: 15px 5px;
  background-color: #fff;
}
.field_GD input{
  width: 40px;
}
.field_PH{
  margin: 3% 0;
}
.field_PH div{
  display: flex;
}
.container .join{
 text-align: center;
}
.container .join input:hover{
  cursor: pointer;
 }
