@font-face {
  font-family: 'KyoboHandwriting2020A';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/KyoboHandwriting2020A.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100vh;
  background: #B5C2CC;
  font-family: 'KyoboHandwriting2020A';
}
#top_title{
  color: white;
  font-size: 2rem;
  text-align: center;
  margin-top: 3%;
}
#top_title:hover{
  cursor: pointer;
}
.main{
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container{
  border: 5px solid gray;
  border-radius: 15px;
  background: #fff;
  width: 80%;
  margin: 0 auto;
  margin-top: 3%;
  height: auto;
}
.container input{
  border: 3px solid gray;
  width: 50%;
  border-radius: 15px;
  height: auto;
  padding: 1%;
}
.container input::placeholder{
  text-align: center;
  font-size: 1.5rem;
  color: lightcoral;
}
.container #box_id{
  margin: 3%;
  height: auto;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center; 
}
.container #box_pw{
  margin: 3%;
  height: auto;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center; 
}
.container #box_btn{
  margin: 3%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center; 
}
.container #box_btn #lbtn{
  border: 3px solid gray;
  border-radius: 15px;
  width: 60%;
  height: auto;
  text-align: center;
  font-size: 2rem; 
}
.container #box_btn #lbtn:hover{
  border-color: lightcoral;
  cursor: pointer;
}
.container #find_btn{
  display: flex;
  align-items: center;
  justify-content: center; 
  font-size: 2rem;
  margin: 3%;
  height: auto;
}
.container #find_btn:hover{
  cursor: pointer;
  color: lightcoral;
}
.container #join_btn{
  display: flex;
  align-items: center;
  justify-content: center; 
  font-size: 2rem;
  height: auto;
  margin: 3%;
}
.container #join_btn:hover{
  cursor: pointer;
  color: lightcoral;
}